@charset "utf-8";

#dino {
  position: absolute;
  bottom: 0;
  left: 20px;
  width: 50px;
  height: 50px;
  background: green;
}
#obstacle {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  background: red;
  animation: move 2s infinite linear;
}

.scoreall {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 150px;
}
@keyframes move {
  from {
    right: 0;
  }
  to {
    right: 100%;
  }
}
